:root {
  /*----------------------------------------------------------------

  Font styles

  /* Preview mode */

  --text: "JetBrains Mono";

  /* Editor mode */

  --text-editor: "JetBrains Mono";

  /* Code */

  --font-monospace: "JetBrains Mono";

  /* UI */

  --font-ui: "JetBrains Mono";

  /* Sizes, weights, padding */

  --font-normal: 15px;
  --font-small: 13px;
  --font-smaller: 11px;
  --font-smallest: 10px;
  --h1: 1.5em;
  --h2: 1.25em;
  --h3: 1.125em;
  --h4: 1em;
  --h5: 1em;
  --h6: 1em;
  --normal-weight: 400; /* Switch to 300 if you want thinner default text */
  --bold-weight: 700; /* Switch to 700 if you want thicker bold text */
  --line-width: 50rem; /* Maximum characters per line */
  --line-height: 1.4;
  --max-width: 90%; /* Amount of padding around the text, use 90% for narrower padding */
  --nested-padding: 3.5%; /* Amount of padding for quotes and transclusions */
  --icon-muted: 0.4;
  --border-width: 1px;
  --border-width-alt: 1px;

  /*----------------------------------------------------------------

  Cursor

  Change this to "pointer" if you like the normal style better */

  --cursor: default;
}
